@backgroundsidebar: rgb(57, 59, 85);
@mainfont: rgb(255, 255, 255);

.ak-sidebar {
    position: fixed;
    height: 100%;
    background-color: @backgroundsidebar;
    color: @mainfont;
}

.ak-sidebar_item {
    display: flex;
    margin: 30px 10px;
    
}

.ak-sidebar_logo__big__nosidebar {
    display: none;
}

.ak-sidebar_itemname__nosidebar {
    display: none;
}