@mainmenufont: rgb(14, 80, 223);

.ak-mainmenuline_mainmenu {
    display: flex;
    margin: 30px;
    right: 0px;
}

.ak-mainmenu_item {
    display: inline-block;
    padding: 10px;
    color: @mainmenufont;
    text-decoration: none;
}

.ak-mainmenu_item__hide{
    visibility: hidden
}
