.hw7-big-container {
    max-width: 2100px;
    margin: auto;
}

.hw7-big-container_flex {
    display: flex;
    flex-wrap: wrap;
}

.hw7-big-container__block {
    box-sizing: border-box;
    padding: 40px;
    background-position: center;
}

/* modificator size*/

.hw7-big-container__block_size_big {
    width: 50%;
}

.hw7-big-container__block_size_small {
    width: 25%;
}

.hw7-big-container__photo-line {
    background-image: url(../images/6.jpg);
    background-size: 100% auto;
    width: 100%;
    height: 350px;
    background-position: center;
}

.hw7-big-container__footer {
    width: 100%;
    height: 250px;
    position: relative;
}