.hw7-greeting-block{
    padding-top: 130px;
    padding-bottom: 100px;
}

.hw7-greeting-block__welcome {
    margin-bottom: 15px;
    font-size: 9px;
    font-weight: 900;
    letter-spacing: 2px;
}

.hw7-greeting-block__title {
    font-size: 28px;
    color: rgb(39, 42, 47);
}

.hw7-greeting-block__maintext {
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
}

.hw7-greeting-block__button {
    background-color: rgb(240, 226, 215);
    width: 120px;
    height: 36px;
    border: black 2px solid;
    border-radius: 18px;
    font-size: 9px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 30px;
}