@media screen and (max-width:800px) {

    .hw7-big-container__block_size_small {
        width: 50%;
        min-height: 225px;
    }

    .hw7-big-container__block_size_big {
        width: 100%;
        min-height: 225px;
    }
    .hw7-block_photo-5{
        min-height: 450px;
    }
}

@media screen and (max-width:400px) {
    .hw7-block__main-navigation {
        flex-direction: column;
    }
    .hw7-big-container__block_size_small {
        width: 100%;
        min-height: 225px;
    }
    .hw7-photo-line__maintext {
        font-size: 18px;
    }
}

@media screen and (max-width:700px) {
    .hw7-big-container__photo-line {
        background-size: auto 120%;
    }
}