.ak-advanced-search {
    width: 350px;
    border: 2px solid grey;
    position: fixed;
    background-color: rgb(35, 27, 70);
    color: grey;
    z-index:1;
    padding: 15px;
    left: 40%
}

.ak-advanced-search__hide {
    display: none
}