@mainbacground: rgb(38, 33, 38);
@mainfont: rgb(255, 255, 255);
@mainmenufont: rgb(14, 80, 223);



.ak-maininformation{
    background-color: @mainbacground;
}

.ak-maininformation_moviecollection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
