*{
    margin: 0;
    padding: 0;
    font-family: Comic Sans MS, Helvetica;
}

.ak-container_maininformation {
    position: absolute;
    left: 170px;
    right: 0px;
}

.ak-container_maininformation__nosidebar{
    left: 80px;
}


.ak-maininformation_mainmenuline{
    display: flex;
}


.ak-mainmenuline_searchfield {
    margin: 30px;
    display: flex;
    width: 200px;
}

.ak-searchfield_icon {
    background-color: white;
    margin: 2px;
    
}





