*{
    margin: 0;
    padding: 0;
}

@mainbacground: rgb(38, 33, 38);

@mainfont: rgb(255, 255, 255);
@mainmenufont: rgb(14, 80, 223);



.ak-container_maininformation {
    position: absolute;
    left: 100px;
    right: 0px;
}

.ak-container_maininformation__nosidebar {

}

.ak-maininformation{
    background-color: @mainbacground;
}




.ak-maininformation_moviecollection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ak-moviecollection_movie {
    width: 250px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px;
    background-size: 130%;

}

.ak-moviecollection_movie__346364 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/9E2y5Q7WlCVNEhP5GiVTjhEhx1o.jpg');
}

.ak-moviecollection_movie__211672 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/q0R4crx2SehcEEQEkYObktdeFy.jpg');
}

.ak-moviecollection_movie__284053 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/oSLd5GYGsiGgzDPKTwQh7wamO8t.jpg');
}

.ak-moviecollection_movie__440021 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/cTaEIUYTt52ooq9quVbAQ7NpGwo.jpg');
}

.ak-moviecollection_movie__335984 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/aMpyrCizvSdc0UIMblJ1srVgAEF.jpg');
}

.ak-moviecollection_movie__347882 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/eLk7yoWxK4S0xkV24YWoPKbIsbf.jpg');
}

.ak-moviecollection_movie__298250 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/zUbUtxiTdEgWnkXY945gtYYqBZ1.jpg');
}

.ak-moviecollection_movie__274855 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/nrsx0jEaBgXq4PWo7SooSnYJTv.jpg');
}

.ak-moviecollection_movie__321612 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/tWqifoYuwLETmmasnGHO7xBjEtt.jpg');
}

.ak-moviecollection_movie__177572 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/9gLu47Zw5ertuFTZaxXOvNfy78T.jpg');
}

.ak-moviecollection_movie__281338 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/3vYhLLxrTtZLysXtIWktmd57Snv.jpg');
}

.ak-moviecollection_movie__297762 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg');
}

.ak-moviecollection_movie__390062 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/tDgxknTVwrScxpCYyGUjXSn5NRk.jpg');
}

.ak-moviecollection_movie__315635 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/kY2c7wKgOfQjvbqe7yVzLTYkxJO.jpg');
}

.ak-moviecollection_movie__245891 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/5vHssUeVe25bMrof1HyaPyWgaP.jpg');
}

.ak-moviecollection_movie__210577 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/gdiLTof3rbPDAmPaCf4g6op46bj.jpg');
}

.ak-moviecollection_movie__19995 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/kmcqlZGaSh20zpTbuoF0Cdn07dT.jpg');
}

.ak-moviecollection_movie__337170 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/8dTWj3c74RDhXfSUZpuyVNJrgS.jpg');
}

.ak-moviecollection_movie__131631 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/gj282Pniaa78ZJfbaixyLXnXEDI.jpg');
}

.ak-moviecollection_movie__680 {
    background-image: url('https://image.tmdb.org/t/p/w185_and_h278_bestv2/dM2w364MScsjFf8pfMbaWUcWrR.jpg');
}